<h1 class = "headings">Payment</h1>

<h2><font color="orange">Total amount for the selected no.of copies is Rs. <%= @cost %></font></h2>


<%= link_to 'Pay Now', payment_path(@book, @copies), :class => "middle" %><br>
<%= link_to 'Back', :back, :class => "middle" %>
