/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
nav {
	display: inline-flex;
	float: right;
}

a.large:link {
  font-weight: bold;
  background-color: white;
  width: 100px;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border-radius: 5px;
  opacity:0.7;    
}

a.large:hover {
  background-color: #F4A460;
}

h1.headings {
  font-size: 3em;
  font-family: Arial;
  color: white;
  text-shadow: 2px 2px 4px #9E9191;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 50px;
}

.form_label {
  color: white;
  float: left; 
  width: 10%; 
  display: block;
  font-weight: bold;
}

.sub_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
  box-shadow:inset 0px 1px 0px 0px #a6827e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
  background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
  background-color:#7d5d3b;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #54381e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:7px 40px;
  text-decoration:none;
  text-shadow:0px 1px 0px #4d3534;
  margin-left: 96px
}

.sub_button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
  background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
  background-color:#634b30;
}

.sub_button:active {
  position:relative;
  top:1px;
}

div.form_label {
  color: white;
  float: none; 
  width: 10%; 
  font-weight: bold;
}

a.middle:link {
  font-weight: bold;
  background-color: white;
  width: 100px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  opacity:0.7;
  margin: 0px auto;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-menu {
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  display: block;
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 2px;
  background-color: white;
}

.ui-autocomplete {
  cursor: default;
  position: absolute;
}

.ui-menu .ui-menu-item{
  clear: left;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ui-menu-item li {
  display: block;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
  cursor: pointer;
  background-color: green;
}

.ui-menu .ui-menu-item li:hover {
  display: block;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: blue;
}

.login_box {
  border: solid;
  border-color: whitesmoke;
  border-width: 5px;
  border-radius: 11px;
  width: 316px;
  margin: auto;
  padding: 20px;
}

.submit {
    font-weight: bold;
  background-color: white;
  width: 85px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  opacity: 0.7;
  margin: 0px auto;
  margin-left: 116px;
}

.submit:hover {
  background-color: #F4A460;
  cursor: pointer;
}

form#new_user_session.new_user_session {
  margin: auto;
  width: 800px;
}

.registration_box {
  border: solid;
  border-color: whitesmoke;
  border-width: 5px;
  border-radius: 11px;
  width: 352px;
  margin: auto;
  padding: 20px;
}

form#new_user.new_user {
  margin: auto;
  width: 800px;
}

.search_button {
  border: solid 1px #000000;
  border-radius: 3px;
  moz-border-radius: 3px;
  padding: 1px 15px;
  background-color: rgba(253, 252, 252, 0.59);
  height: 22px;
  margin-bottom: -9px;
}

input#search.ui-autocomplete-input {
  height: 19px;
  border-radius: 3px;
}

input#search {
  height: 19px;
  border-radius: 3px;
}

.add_new_book {
  border: solid;
  border-color: whitesmoke;
  border-width: 5px;
  border-radius: 11px;
  width: 352px;
  margin: auto;
  padding: 20px;
}

form#new_book.new_book {
  margin: auto;
  width: 800px;
}

.edit_book {
  margin: auto;
  width: 800px;
}

.edit_user {
  margin: auto;
  width: 800px;
}

.details {
  border: solid;
  border-color: whitesmoke;
  border-width: 5px;
  border-radius: 11px;
  width: 243px;
  margin: auto;
  padding: 20px;
  color: whitesmoke;
  font: status-bar;
}

.table_link {
  font-weight: bold;
  width: 100px;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border-radius: 5px;
  opacity:0.7;  
}

.table_link:hover {
  background-color: #F4A460;
}


