.datagrid table { 
  border-collapse: collapse; 
  text-align: left; 
  width: 100%; 
}

.datagrid {
  font: normal 13px/150% Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.57);
  overflow: hidden;
  border: 1px solid #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px;
}

.datagrid table td, .datagrid table th { 
  padding: 6px 6px;
}

.datagrid table thead th {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgba(33, 37, 33, 0.61)), color-stop(1, #8B847E));
  background:-moz-linear-gradient( center top, #989E98 5%, #7F4614 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#989E98', endColorstr='#7F4614');
  background-color: rgba(219, 232, 219, 0); 
  color:#000000; 
  font-size: 16px; 
  font-weight: bold; 
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000; 
} 



.datagrid table tbody td { 
  color: #000000; 
  border-left: 1px solid #000000;
  font-size: 12px;
  border-bottom: 1px solid #000000;
  font-weight: normal; 
}


.datagrid table tbody td:first-child { 
  border-left: none; 
}

.datagrid table tbody tr:last-child td { 
  border-bottom: none; 
}

.datagrid table tfoot td div { 
  border-top: 1px solid #000000;
  background: #73706B;
} 

.datagrid table tfoot td { 
  padding: 0; 
  font-size: 12px 
} 

.datagrid table tfoot td div{ 
  padding: 0px; 
}