<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <link rel="stylesheet" type="text/css" href="welcome.css">
  <link rel="stylesheet" type="text/css" href="user.css">
  <link rel="stylesheet" type="text/css" href="book.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
